Source: ros-groovy-rtshell
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, unzip
Homepage: http://ros.org/wiki/openrtm_tools
Standards-Version: 3.9.2

Package: ros-groovy-rtshell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Shell commands for managing RT-Middleware running on OpenRTM-aist.
